In [2]:
#!python data/don_char/prepare.py

In [3]:
#%pip install -r "requirements.txt"

In [26]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [5]:
df = pd.read_csv("data/customer_service/train.csv")

# Checked the data

In [6]:
df.info()
df.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 970 entries, 0 to 969
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   issue_area                   970 non-null    object
 1   issue_category               970 non-null    object
 2   issue_sub_category           970 non-null    object
 3   issue_category_sub_category  970 non-null    object
 4   customer_sentiment           970 non-null    object
 5   product_category             970 non-null    object
 6   product_sub_category         970 non-null    object
 7   issue_complexity             970 non-null    object
 8   agent_experience_level       970 non-null    object
 9   agent_experience_level_desc  970 non-null    object
 10  conversation                 970 non-null    object
dtypes: object(11)
memory usage: 83.5+ KB

,issue_area,issue_category,issue_sub_category,issue_category_sub_category,customer_sentiment,product_category,product_sub_category,issue_complexity,agent_experience_level,agent_experience_level_desc,conversation
count,970,970,970,970,970,970,970,970,970,970,970
unique,6,40,109,109,3,3,50,3,3,3,968
top,Cancellations and returns,Return and Exchange,Verification requirement for mobile number or ...,Mobile Number and Email Verification -> Verifi...,neutral,Appliances,Bp Monitor,less,junior,"handles customer inquiries independently, poss...","Agent: You're welcome, Jane. Have a great day!"
freq,277,92,17,17,542,454,26,472,490,490,3

In [7]:
df["customer_sentiment"].value_counts(normalize=True) * 100

customer_sentiment
neutral     55.876289
negative    42.371134
positive     1.752577
Name: proportion, dtype: float64

In [8]:
pd.crosstab(df["issue_complexity"], df["customer_sentiment"])

customer_sentiment  negative  neutral  positive
issue_complexity
high                      39       40         3
less                     197      268         7
medium                   175      234         7

In [9]:
pd.crosstab(df["agent_experience_level"], df["customer_sentiment"])

customer_sentiment      negative  neutral  positive
agent_experience_level
experienced                  147      188         4
inexperienced                 47       93         1
junior                       217      261        12

In [10]:
complexity_sentiment = df.groupby("issue_complexity")["customer_sentiment"].value_counts(normalize=True).unstack() * 100
print(complexity_sentiment)
print("\n")
experience_sentiment = df.groupby("agent_experience_level")["customer_sentiment"].value_counts(normalize=True).unstack() * 100
print(experience_sentiment)

customer_sentiment   negative    neutral  positive
issue_complexity
high                47.560976  48.780488  3.658537
less                41.737288  56.779661  1.483051
medium              42.067308  56.250000  1.682692


customer_sentiment       negative    neutral  positive
agent_experience_level
experienced             43.362832  55.457227  1.179941
inexperienced           33.333333  65.957447  0.709220
junior                  44.285714  53.265306  2.448980

In [11]:
df["conversation_length"] = df["conversation"].apply(len)
df.groupby("customer_sentiment")["conversation_length"].mean()

customer_sentiment
negative    2433.912409
neutral     1973.374539
positive    1732.588235
Name: conversation_length, dtype: float64

# Data preparation 
Customer service data is preprocessed and saved as .npy files. Here, only the last 3 replies given by the users excluding the last 2 replies are taken and saved as X_train and X_val. Also, their corresponding labels are encoded into integer and they are saved as y_train and y_val.

In [40]:
!python data/customer_service/prepare.py